
@import url('https://fonts.google.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.abc{
    color: black;
    background: whitesmoke;
    font-style: normal;
    font-stretch: semi-expanded;
    text-align: center;
    font-size: 150%;
    text-decoration: palegreen;
    border: 2px solid linear-gradient(45deg, #0f3b50, #b6670d);
    padding: 20px;
}
/* Card Item */
.b
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: whitesmoke;
    background-attachment: fixed;
}
.container{
    position: relative;
    width: 1150px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container .card{
    position: relative;
    width: 300px;
    height: 420px;
    background: #fff;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0, 0,0,0.2);
    transition: 0.5s;

}
.container .card img{
    background-size: cover;
    background-image: none;
    position: relative;
    height: 200px;
    width: 200px;
}

.container:hover .card{
    filter: blur(0px);
    transform: scale(1);
    opacity: 0.5;
}

.container .card:hover{
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1;
}

.container .card .circle{
   position: relative;
   width: 100%;
   height: 100%;
   background: #000000;
   clip-path: circle(180px at center 0);
   text-align: center;
}

.container .card .circle h2{
    color: white;
    text-align: center;
    font-size: 4.5em;
    padding: 30px 0;
}

.container .card .content{
    position: absolute;
    bottom: 10px;
    padding: 20px;
    text-align: center;
}

.container .card .content p{
    color: #666;
    margin-bottom: 5%;
    text-align: center;

}

.container .card .content a{
    position: relative;
    display: inline;
    padding: 10px 20px;
    background: black;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    margin-bottom: 20px;
    text-align: center;
    transition: 0.2s;
}
.container .card .content a:hover{
    color:black;
}

.container .card:nth-child(1) .circle,
.container .card:nth-child(1) .content a
{
    background:#ffaf00;
    /* background: black; */
}

.container .card:nth-child(2) .circle,
.container .card:nth-child(2) .content a
{
    background: #ca2c04;
}

.container .card:nth-child(3) .circle,
.container .card:nth-child(3) .content a
{
    background: #0b4a7e;
}

.container .card:nth-child(4) .circle,
.container .card:nth-child(4) .content a
{
    background: #705705;
}

.container .card:nth-child(5) .circle,
.container .card:nth-child(5) .content a
{
    background: #9b0959;
}
.container .card:nth-child(6) .circle,
.container .card:nth-child(6) .content a
{
    background: #ffaf00;
}